* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
    max-width: 1440px;
}

.topics {
    margin-left: 84px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.topicsh2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #262626;
    margin-bottom: 48px;
    margin-left: 84px;
}

.topics-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 204px;
    height: 291px;
    border-radius: 20px;
}

.topics-card h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.topics-card button {
    font-family: "poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    background-color: #4CE0D7;
    border-radius: 20px;
    height: 36px;
    width: 144px;
}

.topicsimg {
    background-color: #ffffff;
    margin-bottom: 20px;
}
